@import "tailwindcss";

/* Define Custom Fonts */
:root {
  --background: #86b6d8;
  /* Default dark background */
  --foreground: #d1d5db;
  /* Default foreground text color */

  /* Brand colors */
  --brand-blue: #86b6d8;
  --brand-orange: #f94b00;
}

@theme {
  --font-sans: "Open_Sans", sans-serif;

  --text-xs: 0.78rem;
  --text-xs--line-height: calc(1 / 0.625);
  --text-sm: 0.95rem;
  --text-sm--line-height: calc(1 / 0.625);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.2rem;
  --text-lg--line-height: calc(1 / 0.714);
  --text-xl: 1.6rem;
  --text-xl--line-height: calc(1 / 0.714);
  --text-2xl: 2rem;
  --text-2xl--line-height: calc(1 / 0.909);
  --text-3xl: 3rem;
  --text-3xl--line-height: calc(1 / 0.909);
  --text-4xl: 4rem;
  --text-4xl--line-height: calc(1 / 0.909);
  --text-5xl: 5rem;
  --text-5xl--line-height: calc(1 / 0.909);
  --text-6xl: 6rem;
  --text-6xl--line-height: calc(1 / 0.909);
  --text-7xl: 7rem;
  --text-7xl--line-height: calc(1 / 0.909);
  --text-8xl: 8rem;
  --text-8xl--line-height: calc(1 / 0.909);
  --text-9xl: 9rem;
  --text-9xl--line-height: calc(1 / 0.909);
  --text-10xl: 10rem;
  --text-10xl--line-height: calc(1 / 0.8333);
}

/* Tailwind Base Styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--brand-blue);
    font-family: var(--font-sans);
    font-size: 1rem;
    line-height: 1.2;
    color: var(--foreground);
    @apply text-white scroll-smooth;
  }

  body::selection {
    @apply bg-white text-gray-800;
  }

  .font-display {
    font-family: var(--font-edu-tas-beginner), sans-serif;
  }

  .font-sans {
    font-family: var(--font-open-sans), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-edu-tas-beginner), sans-serif;
    color: white;
  }

  /* Button Styles */
  button {
    @apply px-4 py-2 rounded-full cursor-pointer transition-all duration-500 text-lg;
  }

  b,
  strong {
    @apply font-bold;
  }

  label {
    @apply text-xs font-semibold text-gray-700;
  }

  textarea {
    @apply h-32;
  }

  input,
  textarea {
    @apply p-3 rounded-lg bg-gray-100 text-black font-medium rounded-md border-2 border-gray-100 outline-none;
  }

  input::placeholder,
  textarea::placeholder {
    @apply font-normal text-gray-400;
  }

  input:focus,
  textarea:focus {
    @apply bg-white outline-none;
  }
}



/* Heading Styles */
@layer base {
  h1 {
    font-size: 3rem;
    /* Larger for primary heading */
    font-weight: 900;
    /* Bold and impactful */
    line-height: 1.2;
    /* Closer line spacing to make it compact */
  }

  h2 {
    font-size: 2.25rem;
    /* Slightly smaller than h1 */
    line-height: 1.3;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  p {
    font-size: 1rem;
    /* Standard body text */
    line-height: 1.4;
  }
}

/* Light Theme Overrides */
@media (prefers-color-scheme: light) {
  :root {
    --background: #d1d5db;
    /* Light mode background */
    --foreground: #171717;
    /* Dark mode text */
  }
}

/* Custom Components */
@layer components {
  .layout {
    @apply bg-black text-white font-sans scroll-smooth;
  }

  .hero-bg {
    background-image: url('/hero-1920.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 1536px) {
    .hero-bg {
      background-image: url('/hero-1920.png');
    }
  }

  @media (max-width: 1024px) {
    .hero-bg {
      background-image: url('/hero-1920.png');
    }
  }

  .btn {
    @apply px-4 py-2 rounded-full cursor-pointer transition-all duration-500 text-lg;
  }

  .btn-primary {
    background-color: var(--brand-orange);
    color: white;
  }

  .btn-grow:hover {
    @apply scale-105;
  }

  /* Hero Button Style */
  .btn-hero {
    @apply relative z-0 flex items-center gap-2 overflow-hidden border;
    border-color: var(--brand-blue);
    color: var(--brand-blue);
  }

  .btn-hero:before {
    @apply absolute inset-0 -z-10 translate-x-[170%] translate-y-[170%] scale-[2.5] rounded-full transition-transform duration-1000 content-[''];
    background-color: var(--brand-blue);
  }

  .btn-hero:hover {
    @apply text-neutral-900;
  }

  .btn-hero:hover:before {
    @apply translate-x-0 translate-y-0;
  }

  .btn-hero:active {
    @apply scale-95;
  }

  .card {
    @apply rounded-3xl shadow-lg p-6;
  }

  .card-light {
    @apply bg-white text-gray-900;
  }

  .card-light h1,
  .card-light h2,
  .card-light h3,
  .card-light h4,
  .card-light h5 {
    color: black;
  }

  .card-light::selection {
    @apply bg-[#383838] text-white;
  }

  .card-dark {
    @apply bg-black border-2 border-[#383838];
  }
}